button{
  font-size: 30px;
  transition: all 1000ms ease-in-out;
}

.was-clicked{
  color: #eb441e;
  padding: 15px;
  background-color: #e8e2cf;
}

h4{
  transition: all .75s ease-in-out;
}

.replace-click {
  color: #eb441e;

}
