h1,h2,h3,a {
  /* text-align: center; */
  color: #292456;
}

a:hover{
  color: #edadc1;
}

img {
  border-radius: 7%;
}

body {
  background-color: #e6ddc8;
  margin-left: 200px;
  margin-right: 200px;
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: 300;
}


.my-button {
  border-radius: 30px;
  padding: 4px;
  background-color: #edc2d0;
  color:#292456;
  border: 1px solid #292456;
  cursor:pointer;

  transition: box-shadow .3s ease-in-out;
}

.my-button:hover {
  box-shadow: 4px 4px 2px 1px #aaccfa;
}

.hidden-image {
  opacity: 0;
  transition: all .60s ease-in-out;
}

.hidden-image:hover {
  opacity: 1;
}
