h1 {
  color: #292456;
}

h2 {
  color: #292456;
}

h3 {
  color: #292456;

}
a {
  color: #292456;
}

a:hover{
  color: #edadc1;
  /* color: #89BBFE; */
}

body {
  background-color: #e6ddc8;
  /* margin: 200px; */
  margin-left: 200px;
  margin-right: 200px;
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: 300;
}

/* h1,h2,h3,p{
  text-align: center;
} */

/* ol{
  margin-left: 400px;
} */
