h1,h2,h3,h4,h5,h6,a,figcaption {
  color: #292456;
}
/* Permissions-Policy: fullscreen=(self "https://example.com"), geolocation=*, camera=() */
h5{
  align-content: center;
}
iframe{
    border-width: 0px;
}
h1{
  font-size: 2.5vw;
  font-family: "proxima-nova";
  font-style: normal;
}

a {
  text-decoration: none;
}
.box{
  background-color: blue;
}

a:hover{
  color: #edadc1;
}

body {
  background-color: #e8e2cf;
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: 300;
  max-width: 1200px;
}

p{
  line-height: 125%;
}

.current{
  font-weight: bolder;
}

@media screen and (min-width: 675px){
  figcaption{
    font-size: 1vw;
    text-align: center;
  }
  .noBreakBig{
   display:none;
  }
  .design{
    display: flex;
    justify-content: center;
  }

  .designProjects{
    max-height: 250px;
    width: auto;
    opacity: 95%;
    text-align: center;
    padding-right: 10px;
  }
  .image{
    display: block;
    justify-content: center;
  }

  .imageProjects{
    max-height: 250px;
    width: auto;
    opacity: 95%;
    text-align: center;
    padding-right: 5px;
  }
  h5{
    text-align: center;
  }
  .box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .1fr 1fr 1fr;
    gap: 20px;

    background-color: inherit;
    padding: 10px;
  }
  body {
    padding: 6vw;
    margin-right: auto;
    margin-bottom: auto;
  }
  .nav2 {
      margin-right: 40px;
  }
  .title {
    padding: 0px;
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    text-align: right;
    font-size: 1.6vw;
  }

  #time{
    padding-right: 1.5rem;
    font-weight: 200;
    color: #292456;
    opacity: .9;
  }

  .navBar {
    background-color: #e8e2cf;
    font-size: 1.5vw;
    padding: 5px;
    grid-column: 2/4;
    grid-row: 1;
  }

  .name {
    grid-column: 1;
    grid-row: 2/4;
    text-align: left;
    font-size: 2.2vw;
    justify-self: end;
    padding-right: 4.5vw;
    color: #292456;
  }
  .nameProject {
    grid-column: 1;
    grid-row: 2/4;
    text-align: left;
    font-size: 2.2vw;
    justify-self: end;
    padding-right: 2.5vw;
    color: #292456;
  }

  .time {
    grid-column: 1;
    grid-row: 2/4;
    text-align: left;
    font-size: 2.2vw;
    justify-self: end;
    padding-right: 4.5vw;
    color: #292456;
  }

  .content {
    background-color: #e8e2cf;
    font-size: 1.3vw;
    padding: 5px;
    grid-column: 2/4;
    grid-row: 2/4;
    margin-right: 80px;
  }

  .boxPic {
    border-radius: 7px;
    max-height: 280px;
    width: 50%;
    opacity: 95%;
  }
}

@media screen and (max-width: 675px){
  .noBreakSmall{
   display:none;
  }

  .imageProjects{
    max-height: 250px;
    width: auto;
    opacity: 95%;
    text-align: center;
  }
  .designProjects{
    max-height: 250px;
    width: auto;
    opacity: 95%;
    text-align: center;
  }
  .box {
    display: grid;
    height: 70vh;
    grid-template-columns: 1fr;
    grid-template-rows: .1fr .1fr .1fr 1fr;
    padding: 10px;
  }
  .nav2 {
      margin-right: 6vw;
  }
  .title {
    grid-column: 1;
    grid-row: 1;
  }

.navBar {
    background-color: #e8e2cf;
    font-size: 4vw;
    grid-column: 1;
    grid-row: 3;
  }
.name {
    font-size: 5vw;
    grid-column: 1;
    grid-row: 2;
    color: #292456;
  }
.content {
    background-color: #e8e2cf;
    font-size: 3.5vw;
    grid-column: 1;
    grid-row: 4;
  }
  body {
    padding: 1em;
  }

  .boxPic {
    border-radius: 8px;
    max-height: 300px;
    width: 25%;
    opacity: 95%;
  }

}
@media screen and (max-width: 500px){
  .nav2 {
      margin-right: 4.5vw;
  }
}
